$inputSearchFocus: 250px !important;

.searchBoxContainer {
  margin: 0 40px 0;
}

.searchBoxNavDropdown {
  margin-right: 70px !important;
}

@media (min-width: 992px) {
  .searchBox {
    position: absolute !important;
    right: 0;
  }
}

.dateOptions {
  display: flex;
  margin-top: 20px;
}

@media (max-width: 700px) {
  .dateOptions {
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    flex-wrap: wrap !important;
  }
}

@media (max-width: 820px) {
  .searchBoxContainer {
    padding: 0 !important;
    margin: 0 !important;
  }
}

input {
  outline: none;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type="search"] {
  background: #ededed
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
input[type="search"]:focus {
  width: $inputSearchFocus;
  background-color: #fff;
  border-color: #66cc75;

  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

.searchBoxContainer input[type="search"] {
  width: 15px;
  padding-left: 18px;
  color: transparent;
  cursor: pointer;
}
.searchBoxContainer input[type="search"]:hover {
  background-color: #fff;
}
.searchBoxContainer input[type="search"]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
.searchBoxContainer input:-moz-placeholder {
  color: transparent;
}
.searchBoxContainer input::-webkit-input-placeholder {
  color: transparent;
}
