.searchBoxNavDropdown {
  margin-right: 70px !important;
}

.dateOptions {
  display: flex;
  margin-top: 20px;
}

@media (max-width: 700px) {
  .dateOptions {
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    flex-wrap: wrap !important;
  }
}

@media (max-width: 820px) {
  ._searchBoxContainer {
    padding: 0 !important;
    margin: 0 0 40px !important;
  }
}

@media (max-width: 1495px) {
  ._searchBoxContainer {
    margin: 0 30px 40px !important;
  }
}
