.buttonWarning {
  color: #fff;
  margin: 10px;
}

.selected {
  border: 1px solid red;
}

.taskCardLink {
  &:hover {
    color: #0039e6 !important;
  }
}

.cardTextDate {
  font-size: small;
  color: #52527a;
}

.limitTextLength {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
