button {
  color: #fff !important;
}

.buttonStatusActive {
  background-color: #c724b1 !important;
  &:hover {
    background-color: #c724b1 !important;
  }
}

.buttonStatusDone {
  background-color: #2bbc19 !important;
}

.buttonWarning {
  margin: 10px;
}

.selected {
  border: 1px solid red;
}

.taskCardLink {
  &:hover {
    color: #0039e6 !important;
  }
}

.cardTextDate {
  font-size: small;
  color: #52527a;
}

.cardTextStatusActive {
  color: #f7978c;
}

.cardTextStatusDone {
  color: #2bbe19;
}

.limitTextLength {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
