.singleTaskCardRow {
  text-align: center;

  .singleTaskCardContainer {
    padding: 25px;
    text-align: left;
    margin: 80px auto;
  }
  .singleTaskCardTitle {
    color: #007bff;
  }

  .cardTextDate {
    font-size: small;
    color: #52527a;
  }

  .singleTaskCardTextStatusActive {
    color: #f7978c;
  }

  .singleTaskCardTextStatusDone {
    color: #2bbe19;
  }

  .singleTaskButtonStatusActive {
    background-color: #c724b1 !important;
    &:hover {
      background-color: #c724b1 !important;
    }
  }

  .singleTaskButtonStatusDone {
    background-color: #2bbc19 !important;
  }

  .singleTaskCardText {
    color: #52527a;
  }

  .singleTaskCardButtonWarning {
    margin: 10px;
    color: #fff;
  }

  @media (min-width: 480px) {
    .singleTaskCardContainer {
      width: 50%;
    }
  }
}
