.Toastify__toast--error {
  background: #e87c87 !important;
}

.btn-warning {
  background-color: #4cdaed !important;
  border-color: #4cdaed !important;
}

.btn-outline-danger {
  color: #ff4d94 !important;
  border-color: #ff4d94 !important;
  &:hover {
    color: #fff !important;
    background-color: #ff4d94 !important;
    border-color: #ff4d94 !important;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 77, 148, 0.5) !important;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #2fbd17;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4cdaed;
}
