.Toastify__toast--error {
  background: #e87c87 !important;
}

// .Toastify__toast--success {
//     background: #4CDAED !important;
// }

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2FBD17;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4CDAED ;
}
